/* MOBILE DEVICE ==================================================================*/


@media only screen and (max-width: 768px) {
    header {
        width: auto;
        height: 70px;
        padding: 10px;
    }
    
    .logoAndTitle {
        display: flex;
        align-items: center;
        width: 100%;
        font-size: 0.8em;
    }
    
    .logo {
        width: 20%;
    }
    
    .category-row{
        display: block;
    }

    #recipes-cat {
        width: 40%;
        margin-top: 2%;
        margin-left: 1%;
    }

    .socials-info {
        width: auto;
    }

}